*{
    padding: 0;
    margin: 0;
}

.box{
    height: 500px;
    text-align: center;
    background-color: bisque;
   padding: 100px;
}
.btn{
   background-color: brown;
   color: white;
   font-size: 16px;
   font-weight: 500;
   padding: 14px 30px;
   border: 1px solid brown;
   border-radius: 50px;
   margin-top: 40px;
   transition: .5s ease-in-out;
}

.btn:hover{
    background-color: blueviolet;
  border: 1px solid black;

}


input[type="text"]:focus{
    border: 2px solid black; 
    background-color: red;  
    height: 50px;                                                        
}

.box2{
    margin: 100px;
}
.box2 p::before{
   
    content: "HELLO WORLD  THIS IS AMIR";
    color: red; 
    background: darkslateblue;
    padding: 20px;

}


.box2 p::after{
   
    content: "This Is After Effect Of CSS";
    color: brown;
   
   
    border:2px solid red;
   

}





